*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.topNavLine{
    border: 2px solid orange;
    margin-top: -8px;
}
.hnavbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.list{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
}
.hnavbar img{
    width: 175px;
    height: 41px;
    margin-left: 5px;
    margin-top: 1px;
}

.search{
    /* display: flex; */
    width: 55%;
    
}
.search input{
    width: 99%;
    height: 38px;
    border-radius: 5px;
    border: 1px solid lightgray;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: larger;
}
.buttons{
    display: flex;
    width: 10%;
}
.hnavbar li{
    list-style: none;
}
.hnavbar a{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray    ;
    font-weight: 200;
}
.buttons{
    display: flex;
    justify-content: space-between;

}
.buttons input{
    
    height: 36px;
    width: 48%;
    border: .5px solid lightgray;
    border-radius: 8px;
    cursor: pointer;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}
.log{
    background-color: #e1ecf4;
}
.sign{
    background-color: #0A95FF;
    color: white;

}
.mainPage{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.vnavbar{
    display: flex;
    width: 18%;
    height: 100%;
    overflow: scroll;
}   

.vnavbar li{
    list-style: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray    ;
    font-weight: 200;
}
.vnavbar a{

    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: larger;
    font-weight:lighter;
    text-decoration: none;
    color: darkslategray    ;
    font-weight: 200;
    
}
/* .topBottomNavLine{
    width: 100%;
    border: 0.5px solid lightgrey;
} */
.home{
    margin-bottom: 30%;
    font-size: unset;
}
.submenu{
    margin-bottom: 25%;
}
.public{
    margin-bottom: 10%;
    color: darkgray;
}
.ques{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main_qu{
    font-size: 200%;
    margin-bottom: 1%;
}
.text_below{
margin-top: 0%  ;
}
.sideContent{
    display: flex;
    width: 80%;
    margin-left: 2%;
    margin-right: 3%;
    flex-direction: column;
}
.belowMainQu{
    display: flex;
    flex-direction: row;
}
.elebroateQue{
    /* width: 70%; */
    font-size: 130%;
    padding-left: 20px;
    padding-right: 20px;
}
.rightContent{
    background-color: #FBF3D5;
    width: 30%;
    height: 100%;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
hr{
    width:  100%;
    border: 0.5px solid lightgrey;
}
.quAndBut{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.askButton{
    width: 12%;
    height: 42%;
    border-radius: 10px;
    border: 1px solid ;
    cursor: pointer;
    background-color: #0A95FF;
    color: white;
}
/* .rightContent li{
    list-style: none;
} */
.rightContent a{
    text-decoration: none;
    color: black;
}
.tableHeading{
    font-weight: bold;
}
.roundButtonAndEleborateQue{
    display: flex;
    width: 75%;
}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button p{
    font-size: 31px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.roundButtonAndEleborateQue input{
  background-color: white;
  border: 1px solid grey;
  color: black;
  padding: 23px;
  text-align: center;
  /* text-decoration: none; */
  font-size: 20px;
  margin: 5px 4px;
  cursor: pointer;
  border-radius: 50%;
  width: 7%;
}
