*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.topNavLine{
    border: 2px solid orange;
    margin-top: -8px;
}
.hnavbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.list{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
}
.hnavbar img{
    width: 175px;
    height: 41px;
    margin-left: 5px;
    margin-top: 1px;
}

.search{
    /* display: flex; */
    width: 55%;
    
}
.search input{
    width: 99%;
    height: 38px;
    border-radius: 5px;
    border: 1px solid lightgray;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: larger;
}
.buttons{
    display: flex;
    width: 10%;
}
.hnavbar li{
    list-style: none;
}
.hnavbar a{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray    ;
    font-weight: 200;
}
.buttons{
    display: flex;
    justify-content: space-between;

}
.buttons input{
    
    height: 36px;
    width: 48%;
    border: .5px solid lightgray;
    border-radius: 5px;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}
.log{
    background-color: #e1ecf4;
}
.sign{
    background-color: #0A95FF;
    color: white;

}

.vnavbar{
    display: flex;
    width: 20%;
    height: 100%;
    overflow: scroll;
}   

.vnavbar li{
    list-style: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray    ;
    font-weight: 200;
    
    
}
.vnavbar a{

    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: larger;
    font-weight:lighter;
    text-decoration: none;
    color: darkslategray    ;
    font-weight: 200;
    
}
.topBottomNavLine{
    width: inherit;
    border: 0.5px solid lightgrey;
}
.home{
    margin-bottom: 30%;
    font-size: unset;
}
.submenu{
    margin-bottom: 25%;
}
.public{
    margin-bottom: 10%;
    color: darkgray;
}
